@keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: 0px -480px;}
}

@-webkit-keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: 0px -480px;}
}

html, body{
    background-color: black;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 16px;
    /* image courtesy of matthew3447 http://i257.photobucket.com/albums/hh236/matthew3447/SpaceBG.gif*/
    background-image: url("../images/SpaceBG.jpg");
    background-position: center top;
    color: yellow;
    -webkit-animation: backgroundScroll 5s linear 1;
    -webkit-animation-fill-mode: forwards;
    animation: backgroundScroll 5s linear 1;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

button {
    background-color: #444444;
    min-width: 10%;
    text-align: center;
    color: white;
    position: fixed;
    top: 20px;
    left: 20px;
}

#vertCenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.buffer{
    margin-bottom: 40px;
}

#instruction-text{
    font-size: 32px;
    margin-bottom: 50px;
}

#status{
    font-size: 24px;
    margin-bottom: 20px;
}

#answer{
    font-size: 32px;
    letter-spacing: 32px;
    margin-bottom: 10px;
}

#guessedLetters{
    letter-spacing: 15px;
    overflow-wrap: break-word;
}

#audioControls{
    position: fixed;
    top: 5px;
    left: 5px;
}