.box{
    border-style: solid;
    border-width: 2px;
    border-color: #888;
}

html, body{
    background-color: black;
    font-family: 'Press Start 2P', cursive;
    /* image courtesy of matthew http://i257.photobucket.com/albums/hh236/matthew3447/SpaceBG.gif*/
    background-image: url("../images/SpaceBG.jpg");
    background-position: center top;
    color: white;

}

.top-buffer{
    height: 40vh;
}

#instruction-text{
    font-size: 32px;
    margin-bottom: 30px;
}

#status{

}

#answer{
    font-size: 32px;
    letter-spacing: 32px;
}

#lives{

}

#wins{

}

#losses{

}

#guessedLettersText{

}

#guessedLetters{
    
}